@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Anton',
    sans-serif;
}

body {
  background-color: #16213E;
}

.notificationCard {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #25316D;
  margin: 40px auto;
  width: 80%;
  border-radius: 23px;
  padding: 20px;
}

.eventIndex {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 20px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: table;
  background-color: #533483;
  padding: 10px;
}

.eventTitle {
  color: whitesmoke;
  font-family: 'Oswald',
    sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-height: 100px;
  padding: 10px 10px 0px;
  margin: 20px 20px 0px 20px;
  background-color: #E94560;
  border-radius: 15px 10px 0px 0px;
  border-bottom: 5px double white;
}

.eventDate {
  text-align: center;
  background-color: #16213E;
  padding: 8px;
  margin: 20px 20px 0px 20px;
  border-radius: 23px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.eventLink {
  text-align: center;
  margin: 30px auto 10px;
  font-size: 15px;
  background-color: #16213E;
  display: table;
  padding: 5px;
  border-radius: 23px;
  font-family: 'Oswald',
    sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.eventLink a {
  text-decoration: none;
  border-radius: 23px;
  color: white;
}

.eventLink:hover {
  background-color: #E94560;
}

.spacerOutlet {
  height: 100px;
}

.notificationCategory {
  text-align: center;
  background-color: #25316D;
  padding: 12px;
  display: table;
  margin: 5px auto;
  border-radius: 23px;
}

.homeNavigation {
  margin: 40px auto 30px;
  text-align: center;
}

.navigateLink {
  color: white;
  border-radius: 23px;
  margin: 10px;
  text-decoration: none;
  padding: 10px;
}

.navigateLink:hover {
  background-color: #E94560;
  border-radius: 23px;
  color: #25316D;
}

.loadingSpinner {
  height: 50px;
  text-align: center;
}

footer {
  text-align: center;
}

footer i,
a {
  color: #25316D;
}

.apkDownloadBtn {
  margin-top: 40px;
  width: 120px;
  border: 2px solid white;
}

.apkDownloadBtn:hover {
  border: 2px solid #E94560;
}